version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:80"
    volumes:
      - .:/var/www/html
    environment:
      - "DB_CONNECTION=sqlite"
      - "DB_DATABASE=/var/www/html/database/database.sqlite"
